* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

:root {
  --dark: rgb(34, 34, 34);
  --light-grey: rgb(134, 134, 134);
  --white: rgb(255, 255, 255);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vh auto;
  width: 95vw;
  height: 98vh;
  border-radius: 5px;
  background-color: var(--dark);
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  padding: 30px 10px 20px;
  max-height: 100vmin;
}

.images {
  display: flex;
  max-width: 100%;
  height: 88vmin;
  overflow: hidden;
}

.images img {
  display: block;
  object-fit: fill;
  width: 1px;
  opacity: 0;
  border: 0px solid var(--white);
  border-radius: 5px;
  height: auto;
  transition: all 0.7s ease-in-out;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0%;
  width: 0;
}

.cat1:checked ~ .images > .image-cat1,
.cat2:checked ~ .images > .image-cat2,
.cat3:checked ~ .images > .image-cat3,
.cat4:checked ~ .images > .image-cat4,
.cat5:checked ~ .images > .image-cat5 {
  opacity: 1;
  width: 100%;
  border: 10px solid var(--white);
}

.cat1:checked ~ .controls-container > .controls > .label1 .label-inner,
.cat2:checked ~ .controls-container > .controls > .label2 .label-inner,
.cat3:checked ~ .controls-container > .controls > .label3 .label-inner,
.cat4:checked ~ .controls-container > .controls > .label4 .label-inner,
.cat5:checked ~ .controls-container > .controls > .label5 .label-inner {
  background-color: var(--dark);
}

.cat1:checked ~ .controls-container > .text-container > .text1,
.cat2:checked ~ .controls-container > .text-container > .text2,
.cat3:checked ~ .controls-container > .text-container > .text3,
.cat4:checked ~ .controls-container > .text-container > .text4,
.cat5:checked ~ .controls-container > .text-container > .text5 {
  font-size: 30px;
  letter-spacing: 2px;
  width: 100%;
  opacity: 1;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.controls > label {
  display: block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 8px;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.controls > label:last-child {
  margin-right: 0;
}

.label-inner {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 3px solid var(--white);
  background-color: var(--white);
  transition: all 0.3s linear;
}

.label > .label-inner:hover {
  background-color: var(--light-grey);
}

.label > .label-inner:active {
  box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.6);
  background-color: var(--light-grey);
}

.text-container {
  display: flex;
  color: var(--white);
  font-size: 30px;
  height: 50px;
}

.text-container > div {
  font-family: Lobster;
  letter-spacing: 0px;
  font-size: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }

  .slider-container {
    width: 100%;
    max-height: 150vmin;
    padding: 10px 0;
    background-color: var(--dark);
  }

  .images {
    margin-bottom: 30px;
  }

  .controls-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .text-container {
    margin-top: 20px;
    align-self: flex-start;
  }
}
