* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: rgb(34, 34, 34);
  --light-grey: rgb(235, 235, 235);
  --white: rgb(255, 255, 255);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--light-grey);
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin: 20px auto;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0%;
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: height 0.5s linear;
}

input[type='radio']:checked {
  height: 100%;
}

.cat1 {
  background-image: url(./img/cat1.webp);
}

.cat2 {
  background-image: url(./img/cat2.png);
}

.cat3 {
  background-image: url(./img/cat3.jpg);
}

.cat4 {
  background-image: url(./img/cat4.jpg);
}

.cat5 {
  background-image: url(./img/cat5.jpg);
}

.cat1:checked ~ .controls-container > .controls > .label1 .label-inner,
.cat2:checked ~ .controls-container > .controls > .label2 .label-inner,
.cat3:checked ~ .controls-container > .controls > .label3 .label-inner,
.cat4:checked ~ .controls-container > .controls > .label4 .label-inner,
.cat5:checked ~ .controls-container > .controls > .label5 .label-inner {
  background-color: var(--dark);
}

.cat1:checked ~ .controls-container > .text-container > .text1,
.cat2:checked ~ .controls-container > .text-container > .text2,
.cat3:checked ~ .controls-container > .text-container > .text3,
.cat4:checked ~ .controls-container > .text-container > .text4,
.cat5:checked ~ .controls-container > .text-container > .text5 {
  font-size: 1.5rem;
  opacity: 1;
}

.center {
  width: 100%;
  height: 4%;
  margin: -1px 0;
  background: var(--dark);
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 30px 10px;
  background: var(--dark);
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.controls > label {
  cursor: pointer;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  transition: all 0.5s linear;
}

.label-inner {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 3px solid var(--white);
  background-color: var(--white);
  transition: all 0.2s linear;
}

.label > .label-inner:hover {
  background-color: rgb(134, 134, 134);
}

.label > .label-inner:active {
  box-shadow: 0px 0px 3px 4px rgba(255, 255, 255, 0.6);
  background-color: rgb(134, 134, 134);
}

.text-container {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 0rem;
}
.text-container > div {
  transition: all 0.2s linear;
}

@media (max-width: 768px) {
  .slider-container {
    padding: 20px;
    background-color: var(--dark);
  }

  .controls-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 30px 10px;
    background: var(--dark);
  }

  .text-container {
    margin-top: 20px;
    align-self: flex-start;
  }
}
